/* Font and text height */
/* here font style is set to "arial" and if arial does not work in this file, so otherwise it include "sans-serif"*/
.fontStyle{
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
}
.peragraph{
    font: italic 100 1.2rem/1.5
    'Arial',sans-serif;
}

/* Word and Letter Spacing */
.WardSpace{
   /* word-spacing: 20px; 
   letter-spacing:2px ; */

   /* text-decoration: underline; */
   text-decoration: line-through ;
}
/* CSS Box Model */
*{
    box-sizing: border-box;
}
.Box{
    background: rgb(178, 115, 237);
    width: 100px;
    height: 100px;

    border: 2px solid red;
    padding: 5px;
    margin: 20px;
}
/* Button  */
.Button{
   border: 2px solid rgb(255, 0, 0); 
   background:blue ;
   color: aliceblue;
   /* 5px(top) 15px(left) 5px(down) 15px(Right) */
   /* padding: 5px 15px 5px 15px; */

   /* Same to 5px(top) 15px(left) 5px(down) 15px(Right) */
   padding: 5px 15px;

}

/* Overflow */

.overflow{
    background: rgb(178, 115, 237);
    width: 200px;
    height: 200px;

    border: 2px solid red;
    padding: 5px;
    margin: 20px; 
    
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;

}

/* Filter */
.image{
height:800px;
width: 800px;
/* filter: grayscale(50%); */
filter:brightness(50%) ;


}

/* Important */
.Important{
    color: brown;
}

.Important{
    color: rgb(238, 8, 8) !important;
}

.Important{
    color: rgb(42, 75, 165);
}

/* Css Variable */
:root{
    --color: rgb(255, 115, 0);
}
.color{
  color: var(--color);
}

/* Position */
.element_A{
    height: 500px;
    width: 500px;
    background-color:rgb(23, 133, 206) ;
    border: 5px solid red;

    /* position: static; */
    /* relative means how its move to its original position */
    /* Top(move from top to bottom position) */
    /* position: relative;
    top: 50px ; */

    position: relative;
}

.element_B{
    height: 200px;
    width: 200px;
    background-color:rgb(69, 227, 12) ;
    border: 5px solid rgb(246, 210, 6);

    /* position: relative;
    top: 50px ;
    bottom: 0px;
    left:500px ;
    right: 0px; */

    position: absolute;
    
    bottom: 0px;
    right: 0px;
}

/* .element_C{
    
    
    position: fixed;
    right: 200px;
    top: 200px;



    height:30px;
    width: 30px;
    background-color:rgb(154, 23, 206) ;
    border: 5px solid rgb(0, 255, 42);
} */